{% extends "base.html" %}

{% block contenido %}

<h1 class="mb-4">📋 Listado de Gastos</h1>

<table class="table table-striped table-hover">

    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Monto</th>
            <th>Categoría</th>
            <th>Responsable</th>
            <th>Medio Pago</th>
        </tr>
    </thead>

    <tbody>
        {% for gasto in gastos %}
        <tr>
            <td>{{ gasto.id }}</td>
            <td>{{ gasto.fecha }}</td>
            <td>{{ gasto.descripcion }}</td>
            <td>${{ gasto.monto | moneda }}</td>
            <td>{{ gasto.categoria }}</td>
            <td>{{ gasto.responsable }}</td>
            <td>{{ gasto.medio_pago }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}